[submodule "simulators/nvmain"]
	path = simulators/nvmain
	url = https://github.com/SEAL-UCSB/NVmain.git
[submodule "simulators/nvsim"]
	path = simulators/nvsim
	url = https://github.com/uvKogan/MBMM.git
