# Architectural configuration for 128MB Selector-based Module

-DesignTarget: RAM            # Ensures SLC operation and avoids NAND error

-OptimizationTarget: ReadLatency

-ProcessNode: 22

-Capacity (MB): 128
-ForceMat: 2x2
-WordWidth (bit): 64

#-DeviceRoadmap: LOP
-DeviceRoadmap: HP

-LocalWireType: LocalAggressive 
-GlobalWireType: GlobalAggressive

-Routing: H-tree
-InternalSensing: false       # External sensing to save area (standard for 1S1R)

-MemoryCellInputFile: reram_22nm_selector.cell

-Temperature (K): 300